global:
  resolve_timeout: 5m
  slack_api_url: 'https://hooks.slack.com/services/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'

route:
  group_by: ['job']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h
  receiver: 'slack' # Receptor por defecto
  routes:
  - match:
      alertname: Watchdog
    receiver: 'null' # Ignora la alerta 'Watchdog'
  
  # 2. Ruta para alertas CRÍTICAS
  - match:
      severity: 'critical'
    receiver: 'slack-critical' # Las envía al receptor de Slack
    
receivers:
- name: 'null'

# 3. Configuración del receptor de Slack
- name: 'slack-critical'
  slack_configs:
  - channel: '#todo-naesman1-prometheus-alarms' 
    send_resolved: true # Enviar alertas de 'Resuelto'
    # Plantilla de mensaje
    title: ':rotating_light: [{{ .Status | toUpper }}] {{ .CommonLabels.alertname }} ({{ .CommonLabels.severity }})'
    text: >-
      {{ range .Alerts -}}
      *Alerta:* `{{ .Labels.alertname }}`
      *Descripción:* {{ .Annotations.description }}
      *Detalles:*
      `{{ .Labels.container }}@{{ .Labels.pod }}`
      {{ end }}

# Receptor genérico (opcional)
- name: 'slack'
  slack_configs:
  - channel: '#todo-naesman1-prometheus-alarms' 
    send_resolved: true
    title: 'INFO: {{ .CommonLabels.alertname }}'
    text: '{{ .CommonAnnotations.description }}'

